.btn {
	padding: 5px 8px;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 5px;
	outline: inherit;
	border: inherit;
	display: inline-flex;
}

.check {
	background-color: var(--btn-primary-bg);
	color: var(--color-white);
}

.normal {
	background-color: #cfe0fd;
	color: var(--text-color);
}
