.btn {
	padding: 10px 20px;
	background-color: var(--btn-primary-bg);
	color: var(--color-white);
	border-radius: 7px;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;
	outline: inherit;
	border: inherit;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	max-width: 16rem;
}

.btn:active {
	transform: scale(0.95);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.primary {
	display: flex;
	align-items: center;
	column-gap: 20px;
	font-weight: normal;
}

.success {
	display: flex;
	align-items: center;
	column-gap: 20px;
	background-color: #369f5a;
	font-weight: 700;
}

.sm {
	background-image: linear-gradient(to right, #00ac5a, #3b9e9e);
	border-radius: 30px;
	padding: 2px 16px;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: 500;
	margin-top: 10px;
}

.btnGroup {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.btnHeading {
	font-weight: 600;
}

.btnCon {
	font-size: 15px;
	text-align: left;
	padding-top: 5px;
}
