.footer {
	background-color: #082f73;
	padding: 2rem;
	color: white;
	text-align: left;
	/* display: flex; */
}
.footer__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: auto;
	gap: 2rem;
	max-width: 72rem;
	margin: 0 auto;
}

.newsletter {
	margin-bottom: 2rem;
	grid-column: 1 / span 3;
}

.newsletter h2 {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.newsletterForm {
	padding: 1rem;
}

.newsletterInput {
	padding: 0.5rem;
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	margin-right: 1rem;
	width: 250px;
	background-color: transparent;
	width: 40%;
}
.newsletterInput::placeholder {
	color: #fff;
}

.subscribeButton {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	background-color: #fff;
	color: #3197ee;
	font-weight: 600;
	cursor: pointer;
}

.footerLinks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footerColumn {
	margin-bottom: 1rem;
	text-align: left;
}

.footerColumn h3 {
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #ffffff;
}

.footerColumn ul {
	list-style-type: none;
	padding: 0;
}

.footerColumn li {
	margin-bottom: 0.5rem;
	color: #b5b5b5;
	cursor: pointer;
}

.socialMedia {
	margin-top: 2rem;
}

.socialMedia h3 {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.socialIcons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.icon {
	font-size: 1.5rem;
	cursor: pointer;
	transition: color 0.3s;
}

.icon:hover {
	color: #3197ee;
}
