.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 0.3rem;
	margin: 0.4rem 0rem;
}
.imgcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 15px;
}
